<!-- begin hero -->
<div class="container">
  <div class="row">
    <div class="col col-12">
      {% if site.hero %}
      <section class="hero">
        <div class="hero__inner">
          <div class="hero__image">
            <img src="{{site.baseurl}}{{site.hero.image}}" alt="{{site.hero.title}}">
          </div>
          <div class="hero__content">
            <h1 class="hero__title">{{site.hero.title}}</h1>
            <p class="hero__desc">{{site.hero.description}}</p>
            <div class="iconRow">
              <div class="iconCol swing">
                <a href="https://open.spotify.com/artist/6RvkLqNbmTyIjG8hpolct2?si=IWPXykcQSvKcOdk733cRGw"><img class="mylink" src="/images/icons/spotify.png"></a>
              </div>
              <div class="iconCol swing">
                <a href="https://blockc.bandcamp.com"><img class="mylink" src="/images/icons/bandcamp.png"></a>
              </div>
              <div class="iconCol swing">
                <a href="https://www.youtube.com/watch?v=o85-aSkFKb8"><img class="mylink" src="/images/icons/youtube.png"></a>
              </div>
            </div>
          </div>
        </div>
      </section>
      {% else %}
      <section class="hero-without-image">
        <div class="hero-inner">
          <div class="hero-content">
            <h1 class="hero__title">{{site.hero.title}}</h1>
            <p class="hero__desc">{{site.hero.description}}</p>
          </div>
        </div>
      </section>
      {% endif %}
    </div>
  </div>
</div>
<!-- begin hero -->