<ul class="nav__list list-reset">
  <li class="nav__item">
    <a href="{{ site.baseurl }}/" class="nav__link">Home</a>
  </li>
  <li class="nav__item">
    <a href="{{ '/discography/' | prepend: site.baseurl }}" class="nav__link">Discography</a>
  </li>
  <li class="nav__item">
    <a href="{{ '/gallery/' | prepend: site.baseurl }}" class="nav__link">Gallery</a>
  </li>
  <li class="nav__item">
    <a href="{{ '/shop/' | prepend: site.baseurl }}" class="nav__link">Shop</a>
  </li>
  <li class="nav__item">
    <a href="{{ '/about/' | prepend: site.baseurl }}" class="nav__link">About</a>
  </li>
  <li class="nav__item">
    <a href="{{ '/contact/' | prepend: site.baseurl }}" class="nav__link">Contact Us</a>
  </li>
</ul>